@font-face {
    font-family: 'ClashDisplay-Light';
    src: url('../ClashDisplay-Light.ttf');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('../ClashDisplay-Regular.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('../ClashDisplay-Semibold.ttf');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Mori Gothic";
    src: url("../MoriGothic-Normal.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}